bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.maldeaBackend/.idea/httpRequests/http-client.cookies
/.idea/.idea.maldeaBackend/.idea/httpRequests/http-requests-log.http
/.idea/.idea.maldeaBackend/.idea/workspace.xml
/Migrations/20220323185311_InitialCreate.cs
/Migrations/20220323185311_InitialCreate.Designer.cs
/Migrations/DataContextModelSnapshot.cs
/Migrations/
/.idea/.idea.maldeaBackend/.idea/dataSources/5046aaf6-5a56-4acf-b7ef-d9e0c1bb8f64.xml
/.idea/.idea.maldeaBackend/.idea/dataSources.local.xml
/.idea/.idea.maldeaBackend/.idea/dataSources.xml
/.idea/.idea.maldeaBackend/.idea/dataSources/5046aaf6-5a56-4acf-b7ef-d9e0c1bb8f64/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.meta
/.idea/.idea.maldeaBackend/.idea/dataSources/5046aaf6-5a56-4acf-b7ef-d9e0c1bb8f64/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.zip
/.idea/.idea.maldeaBackend/.idea/dataSources/5046aaf6-5a56-4acf-b7ef-d9e0c1bb8f64/storage_v2/_src_/database/master.YiqNvw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/.idea.maldeaBackend/.idea/dataSources/5046aaf6-5a56-4acf-b7ef-d9e0c1bb8f64/storage_v2/_src_/database/master.YiqNvw.meta
/.idea/.idea.maldeaBackend/.idea/dataSources/5046aaf6-5a56-4acf-b7ef-d9e0c1bb8f64/storage_v2/_src_/database/master.YiqNvw/schema/sys.zb4BAA.meta
